/* Font  Familly - Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,400&display=swap");
/* ==== Color Theme ==== */
:root {
  --primary-color:rgb(233,199,72);
  --secondary-color: rgb(249,253,255);
  --third-color: rgb(26,26,26,26);
  --custom-gr : linear-gradient(#ffb75e,#ed8f03); ;
}

/* =============== Golobal ======== */
* {
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;   /* -- Remove Unserlines -- */
}

ul { 
  list-style: none;       /* -- Remove dotts -- */
}









/* ===== NavBar ===== */

.logo{
  font-size: 5vmin;
}
span{     /* ===== NavBar Logo ===== */
  color: var(--primary-color);      
}
.navbar{
  background:var(--third-color);
  min-height: 70px;
  align-items: center;
  display: flex; 
  justify-content: space-between;
  padding: 0 24px;
  font-weight: 800;
}

nav.navbar a {  /* ===== NavBar Logo ===== */
  color: var(--secondary-color);  
  cursor: pointer ;
}

.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  transition: 0s ease-in-out;
}
.nav-menu a:hover{
  color: var(--primary-color);
  text-decoration: underline;
}

.nav-menu li a{
  display: block;
}


.nav-menu li{
  margin-left: 50px;
  font-size: 2vmin;
  cursor: pointer;
  color: var(--secondary-color);
}


.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
}


#active{
  color: var(--primary-color);
}





/*===== Background Slide Animation =====*/



.background{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
}

#slideImg{
  width: 100%;
  height: 100%;
}

.overlay{
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
  position: absolute;
  top: 0;
}
 
.header-content {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content h2 {
  position: absolute;
  color: var(--secondary-color);
  top: 42%;
  left:40%;
  transform: translate(-50% ,-50% );
  margin-right: 350px ;
  font-size: 4vmin;
  letter-spacing: 3px;
  animation: h2 3s 1;
}

@keyframes h2 {
  0%{
    color: var(--primary-color);
  }
  30%{
    letter-spacing: 20px;
    
  }
}

.header-content a{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% ,-50% );
  margin-top: 7em;
}

.line {
  position: absolute;
  top: 45%;
  left:40%;
  transform: translate(-50% ,-50% );
  width: 15em;
  height: 6px;
  background: var(--primary-color);
  border-radius: 1em;
  margin: 2px ;
  animation: line 1s ease-in-out;
}

@keyframes line {
  0%{
    width: 0em;
  }
}

.header-content h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left:50%;
  transform: translate(-50% ,-50% );
  font-size: 6vmin;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 25px;
  animation: h1 3s ;
}

@keyframes h1 {
  0%{
    color: var(--secondary-color);
  }
  55%{
    color: var(--primary-color);
  }
}





.navbutton{
  text-decoration: none;
  background:var(--primary-color) ;
  padding:8px 15px ;
  border-radius: 20px;
  color: var(--secondary-color);
  cursor: pointer; 
} 

.navbutton:hover{
  color: var(--third-color);
  
}





.button{
  text-decoration: none;
  background: transparent;
  border: 2px solid var(--primary-color);
  padding:8px 15px ;
  border-radius: 20px;
  color: var(--primary-color);
  cursor: pointer;
}

.button:hover {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--secondary-color);
  font-weight: 800;
}


/*========   Mini-Project Section   ======== */

.line2 {
  width: 290px;
  height: 5px;
  background: var(--primary-color);
  border-radius: 1em;
  margin: 20px auto ;
  
}

section{
  width: 80%;
  margin: 80px auto;
  
}

.title {
  text-align: center;
  font-size: 4vmin;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
}

.row .col{
  padding: 20px;
}


.row .col img{
  height: 400px;
  width: 100%;
  margin-bottom: 15px;
}

.row .col h4 {
  margin-top: 0px;
  text-align: center;
  font-size: 2vmin;
  font-weight: 800;
}

.row .col p {
  margin-top: 20px;
  text-align: center;
  font-size: 2vmin;
}



/*===== Footer Section =====*/
footer{
  background-color: var(--third-color);
  color: var(--secondary-color);
  margin-top: auto;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2em; 
  cursor: pointer;
}
  
.social{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem 0 3rem 0 ;
}
.social li{
  margin:  25px;
  margin-bottom: 30px;
}

.nav-menu-btm {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: -3rem;
  margin-bottom: 2rem;
}
.nav-menu-btm a {
  margin: 0 10px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--secondary-color);
}


.nav-menu-btm a:hover{
  color: var(--primary-color);
}


.footerbottom{
  margin: 20px;
  
  padding-bottom:3em ;
  text-align: center;
}

/*========================= Mobile Device ========================*/


@media only screen and (max-width:1400px){
  .header-content h2{
    top: 40%;
    left:50%;
  }
  .header-content h1{
    top: 60%;
    left:50%;
  }
  .header-content .line{
    top: 48%;
    left:50%;
    width: 12em;
  }
  .header-content a{
    top: 60%;
    left:50%;
  }

  /*========   Mini-Project Section   ======== */

  section{
    width: auto;
    margin: 80px auto;
  }
  .row{
    flex-direction: column;
  }
  .row .col{
    padding: 40px;
  }
    
  .row .col img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
   }
  .row .col h4{
    font-size: 4vmin;
   }
  .row .col p{
    font-size: 3vmin;
    padding-right:4em;
    padding-left :4em;
    padding-bottom: 4em;
  }

  /*===== footer =====*/
  footer{
    margin-top: auto;    
  }

}



@media only screen and (max-width:788px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--third-color);
    width: 100%;
    text-align: center;
    transition: 0.3s ;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  } 

  /*========   header-content   ======== */
  .header-content h2{
    font-size: 6vmin;
  }
  /*========   Mini-Project Section   ======== */


  .row .col img{
   margin: 0;
   padding: 0;
   width: 100%;
  }



  /*===== Show More Details =====*/

  .moredetails a{
    display: block;
    position: absolute;
  }
 /*========   footer-content   ======== */
 .footer-content h3,p{
  text-align: center;
 }

}



